@import "../../index.scss";

.home{
    display: flex;
    margin-bottom: 32px;
}

.presentation{
    padding: 30px 40px;
    &__title{
        font-size: 60px;
    }
    &__title-colored{
        color: $primary;
    }
    &__paragraph{
        color: lighten($color: $links-inactive, $amount: 15);
        font-size: 15px;
        width: 70%;
        margin-top: 60px;
    }
    &__skills{
        margin-top: 40px;
    }
    &__techstack{
        margin-top: 20px;
        display: flex;
        >*:not(:last-child){
            margin-right: 40px;
        }
    }
    &__techlogo-container{
        width: 64px;
        height: 64px;
    }
    &__techlogo{
        width: 100%;
        object-fit: cover;
    }
}