@import "../../index.scss";

.home {
  display: flex;
  flex-direction: row;
}

.presentation {
  padding: 60px 40px;
  &__title {
    font-size: 60px;
    opacity: 0;
    animation: toLeft 0.8s ease-in-out forwards;
    animation-delay: 0.4s;
  }
  &__title-colored {
    color: $primary;
  }
  &__paragraph {
    color: lighten($color: $links-inactive, $amount: 15);
    font-size: 15px;
    width: 70%;
    margin-top: 60px;
    opacity: 0;
    animation: toLeft 0.8s ease-in-out forwards;
    animation-delay: 0.8s;
  }
  &__skills {
    margin-top: 40px;
  }
  &__skills-title {
    opacity: 0;
    animation: toLeft 0.8s ease-in-out forwards;
    animation-delay: 1.2s;
  }
  &__techstack {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    > *:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__techlogo-container {
    width: 64px;
    height: 64px;
    opacity: 0;
    animation: toLeft 0.8s ease-in-out forwards;
    animation-delay: 1.6s;
  }
  &__techlogo {
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 65%;
    transition: 0.4s ease-in-out;
    &:hover {
      opacity: 100%;
      filter: none;
    }
  }
}

@media all and (max-width: 850px) {
  .home {
    flex-direction: column-reverse;
  }
  .presentation {
    padding: 0 20px;
    margin-bottom: 40px;
    &__title {
      font-size: 50px;
      animation-delay: 0s;
    }
    &__paragraph {
      width: 100%;
      margin-top: 20px;
      text-align: justify;
      animation-delay: 0.4s;
    }
    &__skills-title {
      animation-delay: 0.8s;
    }
    &__techlogo-container {
      width: 50px;
      height: 50px;
      animation-delay: 1.2s;
    }
  }
}

@media all and (max-width: 650px) {
  .presentation {
    padding: 0 20px;
    &__title {
      font-size: 35px;
      text-align: center;
      animation: toBottom 0.8s ease-in-out forwards;
    }
    &__paragraph {
      margin-top: 30px;
      animation: toBottom 0.8s ease-in-out forwards;
      animation-delay: 0.4s;
    }
    &__skills {
      text-align: center;
    }
    &__skills-title {
      font-size: 22px;
      animation: toBottom 0.8s ease-in-out forwards;
      animation-delay: 0.8s;
    }
    &__techstack {
      justify-content: center;
    }
    &__techlogo-container {
      width: 40px;
      height: 40px;
      animation: toBottom 0.8s ease-in-out forwards;
      animation-delay: 1.2s;
    }
  }
}
