@import "../../index.scss";

.lab {
  text-align: center;
  &__title {
    font-size: 60px;
    margin-bottom: 60px;
  }
  &__title-colored {
    color: $primary;
  }
  &__gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media all and (max-width: 850px) {
  .lab {
    &__title {
      font-size: 50px;
    }
  }
}

@media all and (max-width: 650px) {
  .lab {
    &__title {
      font-size: 35px;
    }
  }
}
